# Database
DB_HOST=localhost
DB_USER=changeme
DB_PASSWORD=changeme
DB_NAME=changeme

# JWT Auth
JWT_SECRET_KEY=

# MQTT Broker
MQTT_BROKER=
MQTT_PORT=1883
MQTT_USERNAME=changeme
MQTT_PASSWORD=changeme

# API Server
API_HOST=0.0.0.0
API_PORT=8885
ALLOWED_ORIGINS=http://localhost:5173
